@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Open+Sans:wght@300;400;600;700;800&display=swap');


@import "tailwindcss";

@theme {
  --font-heading: "Questrial", sans-serif;
  --font-body: "Open Sans", sans-serif;

  --text-tiny: 0.625rem;
  --text-tiny--font-weight: 500;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container {
  scroll-behavior: auto;
}

/* toast animations */
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}