@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Questrial&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-heading: "Questrial", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* body */
body {
  font-family: var(--font-body);
}


/* scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container {
  scroll-behavior: auto;
}

/* toast animations */
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}